.wrapper{
    margin-top: 10px;
    margin-bottom: 0px;
}
.container{
    width: 350px;
    height: 500px;
    margin: auto;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /*background: linear-gradient(145deg, #556d70, #475c5f);
    box-shadow:  5px 5px 6px #7ea3a8,
             -5px -5px 6px #7ea3a8;*/
    background-image: linear-gradient(to bottom, #051937, #003f60, #006884, #247c88, #239099);
    box-shadow:  0px 0px 6px whitesmoke,
                0px 0px 6px whitesmoke;
}

h3{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}

.menu-body{
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.flex-box{
    width: 20%;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #fdf9bc;
    padding-top: 5px;
    box-shadow: 0.5px 0.5px 0.5px #000, -0.5px -0.5px 0.5px #000
}

.flex-box-admin{
    width: 40%;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #fdf9bc;
    padding-top: 5px;
    box-shadow: 0.5px 0.5px 0.5px #000, -0.5px -0.5px 0.5px #000
}

.icon-box{
    display: flex;
    /*background-color: #fdf9bc;*/
    background-color: #f29d29;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    margin: auto;
}
p {
    font-size: 16px;
    margin-top: 5px;
}

p a{
    /* color: whitesmoke; */
    color: #000;
    font-weight: lighter;
}
.headerCard{
    width: 100%;
    height: 150px;
    background: rgb(48,50,52);
    background: radial-gradient(circle, rgba(48,50,52,1) 41%, rgba(226,113,21,1) 100%);
    margin-top: 5px;
    text-align: center;
    color: #e0eef0;
    padding-top: 20px;

}
.welcomeText{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
span {
    font-weight: bold;
    color: rgb(255, 137, 41);
}
.card-body{
    width: 100%;
    height: 500px;
    background-color: #e0eef0;
    margin-bottom: 0px;
}

.wrapper{
    margin-top: 10px;
    margin-bottom: 0px;
}

.main-container{
    /* background-image: linear-gradient(to bottom, #051937, #003f60, #006884, #247c88, #239099); */
    background: rgb(111, 168, 212);
    /*linear-gradient(145deg, #5e8387, #4f6e71);*/
    width: 43%;
    height: 500px;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 6px whitesmoke,
                0px 0px 6px whitesmoke;
    
}

.menu-header{
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    /* background-image: linear-gradient(to bottom, #051937, #003455, #00526f, #007086, #239099); */
    background: rgb(111, 168, 212);
    text-align: center;
    /* color:whitesmoke; */
    color:#000;
    /*border: 1px solid whitesmoke;*/
    padding-left: 20px;
    /*box-shadow: 0p 0px 8px red;*/
}

.icon-box svg{
    margin:auto;
}

@media screen and (max-width: 500px) {

    .wrapper{
        margin-top: 40px;
        margin-bottom: 0px;
        width: 100%;
    }

    .main-container{
        width:90%;
        height: auto;
    }

    .menu-body{
        width: 100%;
        height:auto;
        padding-left: 0px;
        padding-right:0px;
        gap:6px;
    }

    .flex-box{
        width: 30%;
        margin-right: 0px;
    }

    .flex-box p{
        font-size: 12px;
    }

    .icon-box{
        display: flex;
        /*background-color: #fdf9bc;*/
        background-color: #f29d29;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        margin: auto;
        font-size: 10px;
    }
}