.payment-alert-banner{
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    .payment-alert-banner{
        margin-top: 5px;
    }
}