html{
    min-height: 100vh;
    background: "#adcceb" !important;
}
select,
input {
    border: 1px solid gray !important;
    /* background-color: transparent !important; */
}
table,
tr,
td {
    border: 1px solid gray !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

th {
    border: 1px solid gray !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

thead {
    font-weight: bold;
}

table thead:first-child th {
    color: black !important;
}

table thead:last-child th {
    color: red !important;
}

th {
    font-weight: bold;
}

table thead {
    background-color: #b4cce1 !important;
}

th:first-child,
td:first-child {
    text-align: left !important;
}

th:not(:first-child),
td:not(:first-child) {
    text-align: right !important;
}

h4,
h5 {
    font-weight: bold !important;
}

.loading-panel {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

button[type="submit"]{
    background-color: rgb(7, 122, 7);
    border-radius: 10px;
    width: 100%;
    border: #233132;
    margin-top: 40px;
    font-size: 20px;
    vertical-align: center;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow:  0px 1px 1px #e0eef0,
             -1px -1px 1px #e0eef0;
}

.css-f8d2o6{
    background-color: #31859B !important;
}
.css-m9ed3h{
    padding: 10px !important;
    border-radius: 0px !important;
}
.css-1c6j008{
    background: #92CCDC !important;
    width: 80% !important;
    margin-bottom: 5px !important;
    border-radius: none !important;
}
.css-1m2xeab{
    padding: 10px !important;
}
.css-1kxonj9{
    margin-top: 1px !important;
}
.css-gg4vpm{
    margin-top: 4px !important;
}
.css-1muz1e1{
    background-color: rgb(15, 15, 143) !important;
    padding: 0px !important;
    padding-top: 1px !important;
    border-radius: 0px !important;
}
.css-th48c9{
    padding:0px !important;
    padding-top:1px !important;
}
.css-xva1d6{
    padding: 10px !important;
}
.css-1a4ls53{
    border-radius: 0px !important;
}
.css-ea5voe{
    border-radius: 0px !important;
}
.css-1j9pqk6{
    padding: 0px !important;
}
.css-51l490{
    padding: 10px !important;
}
.css-1klrkx1{
    display: inline-flex !important;
}
.css-2gx1h6 {
    margin-top: 6px !important;
}
.css-owjkmg{
    margin-top: -5px !important;
}
.css-717286 {
    width: 100% !important;
    justify-content: space-between;
    padding: 10px;
}
.limit-number-icon{
    font-size: 30px;
}
.css-lvc8uc{
    margin: 0px !important;
    width: 90% !important;
}

.css-13gwzxu{
    background:#B8CBE5 !important;
}
.css-1x72iw1{
    padding: 0px !important;
    margin-top: 1px !important;
}
.css-1ttsxzf{
    margin-top: 0px !important;
}

.css-1x72iw1>*:not(style)~*:not(style){
    margin-top: 1px !important;
}

.css-51l490,.css-v1ao22{
    margin-top: 5px !important;
}

.css-shuygk{
    padding: none !important;
}

.css-bb8cw7{
    margin-bottom: 0px !important;
}

.custom-card-body{
    padding-bottom: 15px;
    background: rgba(132, 165, 190, 0.904);
    min-height: 48vh;
}

.css-9fovtj,.css-6le2l9,.css-zg2xyz,.css-x44vc,.css-yc5low,.css-4ka8jd{
    margin-top: 10px !important;
}

.custom-h5{
    background-color: transparent !important;
    color: #000 !important;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    th {
        font-size: 9px !important;
        padding: 3px 2px !important;
        font-weight: bold !important;
        text-align: center !important;
    }

    td {
        padding: 0 1px !important;
        font-size: 9px !important;
        font-weight: bold !important;
    }

    th:first-child,
    td:first-child {
        text-align: left !important;
    }

    th:not(:first-child),
    td:not(:first-child) {
        text-align: right !important;
    }


    button,
    select,
    input,
    label {
        font-size: 12px !important;
        font-weight: bold;
    }

    h5,
    h4 {
        font-size: 9px !important;
    }

    button.tableInterBtn {
        height: 18px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
        padding: 0 !important;
    }

    .css-1dsa4pr{
        -webkit-align-items:start !important;
        margin-top: 40px;
    }

    button[type="submit"]{
        margin-bottom: 25px;
    }
    
    .css-x44vc{
        padding-top: 0px !important;
        width: 95% !important;
        margin:0px auto;
    }
    .css-9fovtj{
        padding-top: 0px !important;
    }
    .css-jlr19o {
        width: 95% !important;
        flex-wrap: nowrap;
    }
    .css-zg2xyz{
        padding-top: 0px !important;
    }
    .css-yc5low{
        padding-top: 0px !important;
        width: 100% !important;
        display: flex !important;
    }
    .css-doj67f{
        width:99% !important;
    }
    .css-f8d2o6{
        background-color: #31859B !important;
    }
    .css-4ka8jd{
        width: 90% !important;
    }
    .css-1u1vdhy{
        width: 100% !important;
        margin-right: 3%;
        margin-bottom: 2%;
    }
    .css-qt6qyu{
        width:95% !important;
    }
    .css-ea5voe {
        width:100% !important;
    }
    .css-1r4ha4q{
        width: 90% !important;
        margin-left: 20px !important;
    }
    .css-lvc8uc{
        width: 100% !important;
    }
    .css-1j9pqk6{
        width: 90% !important;
    }
    .css-5xtnp9{
        width: 90% !important;
    }
    .css-6le2l9{
        padding-top: 0px !important;
        width: 90% !important;
    }
    .css-v1ao22{
        width: 95% !important;
        margin:0px auto !important;
        margin-top: 5px !important;
    }
    .css-2eutsa,.css-hboir5{
        width: 95% !important;
        margin: 0px auto !important;
        margin-top: 1px !important;
    }
    .css-shuygk{
        padding: 0px !important;
    }
    .css-mm5k7b{
        width: 95% !important;
    }
    .css-6le2l9{
        width:95% !important;
    }
    .css-1xy5ifw{
        width: 95% !important;
    }
    .css-rdgbts{
        width: 95% !important;
    }
    .css-snbr68{
        width: 95% !important;
        margin: 0px auto !important;
    }
    .css-hboir5{
        margin-left: 8px !important;
    }
}

@media screen and (min-width: 768px) {
    .css-shuygk {
        padding: 0px !important;
        border: none !important;
    }
    .css-yc5low {
        padding-top: 4px !important;
    }
    .css-9fovtj {
        padding-top: 4px !important;
    }
    .css-zg2xyz {
        padding-top: 4px !important;
    }
    .css-x44vc {
        padding-top: 4px !important;
    }
    .css-6le2l9 {
        padding-top: 4px !important;
    }
    .css-hboir5{
        margin-left: 30px;
    }
}